.Drop_x0020_Shadow{fill:none;}
.Outer_x0020_Glow_x0020_5_x0020_pt{fill:none;}
.Blue_x0020_Neon{fill:none;stroke:#8AACDA;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;}
.Chrome_x0020_Highlight{fill:url(#SVGID_1_);stroke:#FFFFFF;stroke-width:0.3629;stroke-miterlimit:1;}
.Jive_GS{fill:#FFDD00;}
.Alyssa_GS{fill:#A6D0E4;}

.mada{fill:blue;}
.mada:hover{fill:red;}
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
.soma{fill:orange;}
.soma:hover{fill:#f78c42;}

.djib{fill:green;}
.djib:hover{fill:#36ce4c;}

.eri{fill:#045582;}
.eri:hover{fill:#00ffc2;}

.ethi{fill:#10fcfc;}
.ethi:hover{fill:#7e2b99;}

.ken{fill:#8200ff;}
.ken:hover{fill:#00ffc2;}

.uga{fill:#0b7f82;}
.uga:hover{fill:#031870;}

.eyg{fill:#ceba00;}
.eyg:hover{fill:#adff43;}

.sud{fill:#96d2e0;}
.sud:hover{fill:#3a5359}

.lib{fill:#ed5d15;}
.lib:hover{fill:#8697b7;}

.tun{fill:#4708c1;}
.tun:hover{fill:#3aefaa;}

.alge{fill:#006840;}
.alge:hover{fill:#c5d193;}

.mor{fill:#ceff00;}
.mor:hover{fill:#09bbd8;}

.wes{fill:#00353a;}
.wes:hover{fill:#84c18a;}

.mau{fill:#e0cf00;}
.mau:hover{fill:#99a5ff;}

.gam{fill:#4d789e;}
.gam:hover{fill:#ff1d3e;}

.sen{fill:#9b0016;}
.sen:hover{fill:#911471;}

.bis{fill:#58acb7;}
.bis:hover{fill:#564217;}

.gui{fill:#ff6839;}
.gui:hover{fill:#edff3b;}

.sie{fill:#ff5252;}
.sie:hover{fill:#0659ff;}

.lib{fill:00684a;}
.lib:hover{fill:#002c3d;}

.mal{fill:#55872e;}
.mal:hover{fill:#ffc200}

.bur{fill:#495e60;}
.bur:hover{fill:#defdff;}

.cote{fill:#2d2d2d;}
.cote:hover{fill:#111b56;}

.gha{fill:#424551;}
.gha:hover{fill:#ad4e4e;}

.tog{fill:#190606;}
.tog:hover{fill:#15abce;}

.ben{fill:#666c6d;}
.ben:hover{fill:#0a0c1e;}

.nige{fill:#30163a;}
.nige:hover{fill:#776119;}

.niger{fill:#ffc200;}
.niger:hover{fill:#00c3ff;}

.cha{fill:#3f4b4f;}
.cha:hover{fill:#3f0300;}

.rwa{fill:#003f0f;}
.rwa:hover{fill:#3f002d}

.buru{fill:#919191;}
.buru:hover{fill:#00281d;}

.tan{fill:#2f4f47;}
.tan:hover{fill:#066654;}

.cen{fill:#b6fff1;}
.cen:hover{fill:#12354f;}

.cam{fill:#7c0511;}
.cam:hover{fill:#7c6b05;}

.equ{fill:#ffed83;}
.equ:hover{fill:#89ff83;}

.gab{fill:#00f9ff;}
.gab:hover{fill:#3f3c3c;}

.con{fill:#330756;}
.con:hover{:hover:#7c7c7c;}

.zam{fill:#4e9696;}
.zam:hover{fill:#490044;}

.nam{fill:#005128;}
.nam:hover{fill:#061538;}

.zim{fill:#00fff2;}
.zim:hover{fill:#8e0e0e;}

.bot{fill:#0483a0;}
.bot:hover{fill:#031c12;}

.mal{fill:#fff800;}
.mal:hover{fill:#770000;}

.moz{fill:#f44d4d;}
.moz:hover{fill:#8f00ff;}

.swa{fill:#10001c;}
.swa:hover{kill:#bca30f;}

.sou{fill:#4a7072;}
.sou:hover{fill:#080c0c;}

.les{fill:#526875;}
.les:hover{fill:;}

.cong{fill:#ff0000;}
.cong:hover{fill:#e56a6a;}

.drc{fill:#293e6d;}
.drc:hover{fill:#7ee06c;}

.ang{fill:#283f3c;}
.ang:hover{fill:#00564c;}

.st0{display:none;fill:#2E343C;}
.st1{fill:#3D434B;stroke:#FFFFFF;stroke-width:0.1;stroke-miterlimit:10;}
.st2{fill:#353535;stroke:#FFFFFF;stroke-width:0.1;stroke-miterlimit:10;}
.st3{fill:#3D434B;stroke:#FFFFFF;stroke-width:0.123;stroke-miterlimit:10;}